<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

  <title>Document</title>
  <style>
    .carousel-inner img {
      width: 100%;
      height: 100%;

    }
    footer {

      padding: 1em;
      color: #000000;
      background-color: #fff8f8;
      clear: left;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
    }

  </style>
</head>
<body>
<!-- menu   -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}" href="#">
      <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="70" class="d-inline-block align-top" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}" href="#">home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
        </li>
        <li class="nav-item active">
          <span class="nav-link" th:text="${cartCount}">0</span>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--    -->
<div class="shopping-cart">
  <div class="px-4 px-lg-0">

    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">SN</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Delete</div>
                  </th>
                </tr>
                </thead>
                <tbody th:each="cart, iStat : ${carts}">
                <tr>
                  <th scope="row" th:text="${iStat.index + 1}">1</th>
                  <td scope="row">
                    <div class="p-2" >
                      <img class="img-fluid w-50"  alt="" width="30"
                           th:src="@{${'/productImages/' + cart.getProduct().getImageName()}}"
                      >
<!--                      <img th:src="*{cart.getProduct().getImage()}" alt="" width="70" class="img-fluid rounded shadow-sm">-->
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block" th:text="*{cart.getProduct().getName()}">
                        </a></h5><span class="text-muted font-weight-normal font-italic"></span>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle"><strong th:text="${#numbers.formatDecimal(cart.getProduct().getPrice()*cart.getQuantity(),3,'COMMA',0,'POINT' )}+ ' VNĐ'">
                  </strong></td>
                  <td class="align-middle">
                    <a th:href="@{'cart/delete-cart?id=' + ${cart.getProduct().getId()}}"><button class="btnSub">-</button></a>
                    <strong th:text="${cart.getQuantity()}"><!--<%=c.getQuantity()%>--></strong>
                    <a th:href="@{'cart/add-cart?id=' + ${cart.getProduct().getId()}}"><button class="btnAdd">+</button></a>
                  </td>
                  <td class="align-middle"><a th:href="@{'cart/remove-cart?id=' + ${cart.getProduct().getId()}}" class="text-dark">
                    <button type="button" class="btn btn-danger">Delete</button>
                  </a>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
            <!-- End -->

          </div>
        </div>

        <div class="row py-5 p-4 bg-white rounded shadow-sm">
          <ul class="list-unstyled mb-4" style="width: 100%">
            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Transport fee</strong><strong>VnPost </strong></li>

            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total Payment</strong>
              <h5 class="font-weight-bold" th:text="${#numbers.formatDecimal(total,3,'COMMA',0,'POINT' )} + ' VNĐ' "> </h5>
            </li>

          </ul>
          <a th:href="@{/checkout}" h class="btn btn-primary btn-block waves-effect waves-light">go to
          checkout</a>

        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>